h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #fff;
}

.hero-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  max-height: 780px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/steven-erixon-FxlYmu_To7o-unsplash-1.jpg');
  background-position: 50% 62%;
  background-attachment: fixed;
  color: #fff;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.centered-container.white {
  color: #fff;
}

.body {
  font-family: Montserrat, sans-serif;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 36px;
  min-width: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.div-block-3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.feature-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #000;
  color: #fff;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-container.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.feature-image-mask {
  overflow: hidden;
  width: 100%;
  max-height: 350px;
  min-width: 350px;
  margin-right: 40px;
}

.feature-image-mask.reverse {
  margin-right: 0px;
  margin-left: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  margin-top: -50px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.feature-image.img2 {
  margin-top: -121px;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section-2 {
  display: none;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-3 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-4 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.product-category-title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
  font-weight: 400;
}

.heading-3 {
  font-weight: 700;
}

.product-embed {
  margin-top: 40px;
}

.brand {
  width: 300px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.navbar.black {
  background-color: #000;
}

.nav-link.w--current {
  color: #333;
  font-weight: 600;
}

.nav-link.rev {
  color: #fff;
}

.footer-list {
  color: #fff;
}

.main-button {
  margin-top: 20px;
  background-color: #333;
  color: #fff;
}

.main-button.flip {
  background-color: #fff;
  color: #333;
}

.white-button {
  background-color: #fff;
  color: #333;
}

.text-block {
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.paragraph {
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 24px;
}

.div-block-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.call-to-action {
  min-height: 30vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-block-2 {
  text-align: center;
}

.text-block-3 {
  text-align: center;
}

.section-5 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000;
  color: #fff;
}

.carttoggle {
  display: inline-block;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.div-block-5 {
  width: 40px;
  height: 40px;
  margin-top: 4px;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.div-block-7 {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section-7 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000;
}

.container-3 {
  color: #fff;
}

.paragraph-2 {
  text-align: center;
}

.section-8 {
  height: 300px;
  background-color: #000;
}

.div-block-8 {
  min-height: 700px;
  margin-top: 40px;
}

.rev {
  background-color: #000;
}

.body-2 {
  background-color: #000;
}

.div-block-9 {
  min-height: 100vh;
  padding-bottom: 140px;
}

.section-9 {
  height: 300px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(85%, hsla(0, 0%, 100%, 0))), url('../images/All-Products-Header.png');
  background-image: linear-gradient(0deg, #000, hsla(0, 0%, 100%, 0) 85%), url('../images/All-Products-Header.png');
  background-position: 0px 0px, 50% 0%;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
}

.section-10 {
  background-color: #000;
}

.div-block-10 {
  width: 90%;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.paragraph-3 {
  text-align: center;
}

.heading-4 {
  font-size: 72px;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-5 {
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav-menu {
    background-color: #000;
  }

  .nav-link.rev {
    border-bottom: 1px solid #fff;
  }

  .menu-button {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .menu-button.w--open {
    background-color: #000;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .hero-overlay {
    padding: 40px 20px;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .feature-section {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }

  .contact-form {
    padding: 40px 20px;
  }

  .menu-button {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .call-to-action {
    padding: 40px 20px;
  }

  .container-3 {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .centered-container {
    text-align: left;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .flex-container.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask.reverse {
    margin-left: 0px;
  }

  .brand {
    width: auto;
  }

  .nav-menu {
    background-color: #000;
  }

  .nav-link {
    background-color: #fff;
  }

  .nav-link.w--current {
    background-color: #fff;
  }

  .nav-link.rev {
    background-color: #000;
  }

  .nav-link.rev {
    border-bottom: 1px solid #fff;
  }

  .menu-button {
    background-color: transparent;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .icon {
    color: #fff;
  }

  .container-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .main-button {
    background-color: #333;
  }

  .text-block {
    margin-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .paragraph {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section-5 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .div-block-7 {
    max-width: 200px;
  }

  .section-9 {
    height: 150px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .heading-4 {
    font-size: 32px;
  }

  .image {
    max-width: 200px;
  }
}

#w-node-bd35c5d5-c438-ef17-b7fd-44256e635304-10186ac8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 479px) {
  #w-node-bd35c5d5-c438-ef17-b7fd-44256e6352f4-10186ac8 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-bd35c5d5-c438-ef17-b7fd-44256e6352f8-10186ac8 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-bd35c5d5-c438-ef17-b7fd-44256e6352fc-10186ac8 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-bd35c5d5-c438-ef17-b7fd-44256e635300-10186ac8 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

